@{
    ViewData["Title"] = "Blog";
}

<!-- Blog section-->
<section id="blog" class="bg-light section">
    <div class="section-title" style="text-align: center; text-transform:capitalize; font-size:1.5rem;font-weight:bold;margin-bottom: 2rem !important;">
        Blog
    </div>
    <div class="container px-5">
        <article class="text-muted mb-5 mb-lg-0">
            <h5 style="color:#1b6ec2;">Research & Training </h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Training Part 1</th>
                        <th>Training Part 2</th>
                        <th>Training Part 3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Contract Cleaning Specification</td>
                        <td>Supervision & Motivation</td>
                        <td>Operative Cleaning Manual</td>
                    </tr>
                    <tr>
                        <td>Chemical & Disinfectant</td>
                        <td>Staff Handling</td>
                        <td>Safety Measures</td>
                    </tr>
                    <tr>
                        <td>Machinery & Equipment</td>
                        <td>Scheduling Of Work</td>
                        <td>Chemicals, Machinery & Equipment</td>
                    </tr>
                    <tr>
                        <td>Procedures For Hospital Cleaning</td>
                        <td>Quality Control</td>
                        <td>Hard Floor Maintenance</td>
                    </tr>
                    <tr>
                        <td>Procedures For Office & High Rise Building Cleaning</td>
                        <td></td>
                        <td>Carpet Maintenance</td>
                    </tr>
                    <tr>
                        <td>Procedures For Factory Cleaning</td>
                        <td></td>
                        <td>Toilet & Sanitary Appliances</td>
                    </tr>
                    <tr>
                        <td>Health & Safety</td>
                        <td></td>
                        <td>Furniture & Fitting</td>
                    </tr>
                    <tr>
                        <td>Floor Care Maintenance</td>
                        <td></td>
                        <td>General Cleaning</td>
                    </tr>
                    <tr>
                        <td>Cross Infection Control</td>
                        <td></td>
                        <td>Glass Window</td>
                    </tr>
                    <tr>
                        <td>Bacteria & Structure</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </article>
        <br />
        <br />

        <article class="text-muted mb-5 mb-lg-0">
            <h5 style="color:#1b6ec2;">Quality Control </h5>

            At Wazmoh Business Solution, we realize that our work is a direct reflection on your image. The management of your company had worked very hard and spent a big amount of money to create the <strong>“look and feel”</strong> of your company environment. 
            <br />

            We know that your company’s trust on your cleaning company to enhance and preserve its appearance and ambience. We also know our feature success depends on your consistent satisfaction. Our objective is to accommodate your cleaning needs. Our cleaning expertise and labor management techniques can provide verity of option for your customized cleaning schedule . 
            <br />

            We have established a reputation in the cleaning industry for quality and dependability for your entire cleaning requirement. Based on our experience in the cleaning industry we know that quality control is the key element to customer satisfaction. Since there is a drastic realization among organizations and companies towards environment, we at Wazmoh Business Solution have long recognized the importance of the quality of the service that we provided must be in line with the requirement of <strong>ISO14000</strong> standards.
        </article>
        <br />
        <br />

        <article class="text-muted mb-5 mb-lg-0">
            <h5 style="color:#1b6ec2;">Quality Policy </h5>
            <ul>
                <li>Wazmoh Business Solution is committed to provision of quality cleaning services.</li>
                <li>
                    All the staff are responsible for compliance with the quality management system and for ensuring that all procedures and work instructions are properly executed and that standards are met.
                </li>
                <li>All affected staff shall be trained in those processes they are required to perform.</li>
            </ul>
            <br />

            <p>The adoption of the quality management system is essential to the continued growth and success of the business</p>
           
        </article>
    </div>
</section>
