@{
    ViewData["Title"] = "Home";
}


<!-- About us section-->

<section id="aboutus" class="bg-light section">
    <div class="section-title" style="text-align: center; text-transform:capitalize; font-size:1.5rem;font-weight:bold; margin-bottom: 2rem !important;">
        About Us
    </div>

    <div class="container px-5">
        <article class=" text-muted mb-5 mb-lg-0">
            <h5 style="color:#1b6ec2;">Wazmoh Business Solution</h5>
            Wazmoh Business Solution was formed with passion and desire to rid institutions, households and corporations’ facilities of pests which are prevalence in our tropical weather. A seed was                   planted and has grown to become an enterprise whose mission entailed offering one stop shop for fumigation and pest control.
            <br />
            <br />

            Our purpose is not limited to pest control though. We are also involved in general cleaning services as well as landscaping and gardening. We have specialized and highly trained staff members              who ensure to that whatever task you have for us is done to exceed your expectations and deliver quality desirable results.
            <br />
            <br />

            Based on our experience in cleaning industry, we have a competitive edge in the following areas:
            <br />
            <br />
            <ul>
                <li> Our professional cleaning systems are designed to cater for our client’s customized needs in order to achieve their requirement in line with their budget.</li>
                <li>Our experienced technical staff and trained workers aspire to deliver high quality cleaning services.</li>
                <li>Our modern equipment together with the right choice and quality of chemical used in executing our tasks enables us to ensure a better finishing.</li>
            </ul>

        </article>
        <br />

        <article class=" text-muted mb-5 mb-lg-0">
            <h5 style="color:#1b6ec2;">Our Vision</h5>
            To meet the growing demand of maintenance & cleaning Industry With the latest art of technology in order to satisfy Customers’ requirements

        </article>
        <br />

        <article class=" text-muted mb-5 mb-lg-0">
            <h5 style="color:#1b6ec2;">Our Mission</h5>
            To ensure that our customer gets the best service available in the maintenance & Cleaning Industry in order to provide customer satisfaction.

        </article>
        <br />

        <article class="text-muted mb-5 mb-lg-0">
            <h5 style="color:#1b6ec2;">Modus Operandi</h5>

            Our ability to provide consistent high quality services at competitive cost is made possible by our
            deviation from traditional form of cleaning management where job supervision is overseen by various levels of management. We have pioneered a program whereby our staff monitors your premise                together with you and guarantee that your customized cleaning schedule will be followed in an efficient, effective and professional manner. We feel that it not the quantity of supervisor that              matters but the quality of the supervisor that counts.
            <br />
            <br />

            The system employed to monitor our client’s properties and facilities and with our experience enables us to effectively handle the labor demands and the financial requirement of                            any account we contract. Our personnel management techniques are unique and centered on cost control and provide a quick response to client need as they change throughout the year.
            <br />
            <br />

            To achieve these levels of efficacy, we do follow the below laid down protocol:
            <br />
            <br />

            <ol style="list-style-type: upper-alpha;">
                <li>
                    <strong>INCEPTION</strong>
                    <ul>
                        <li>Client brief</li>
                        <li>Engagement</li>
                        <li>Site survey</li>
                        <li>Workplace audit</li>
                        <li>Project programming</li>
                    </ul>
                </li>
                <li>
                    <strong>INCEPTION</strong>
                    <ul>
                        <li>Location survey and planning</li>
                        <li>Work order generation</li>
                        <li>Cost estimates</li>
                    </ul>
                </li>
                <li>
                    <strong>CONTRACT ADMINISTARTION</strong>
                    <ul>
                        <li>Contract formalization</li>
                        <li>Site monitoring and quality control</li>
                        <li>Payment processing</li>
                        <li>Completion inspection</li>
                        <li>Onsite feedback</li>
                    </ul>
                </li>
                <li>
                    <strong>CLOSURE</strong>
                    <ul>
                        <li>Final contractor payment</li>
                        <li>Project evaluation</li>
                        <li>Client feedback</li>
                    </ul>
                </li>
            </ol>
        </article>
        <br />

        <article class="text-muted mb-5 mb-lg-0">
            <h5 style="color:#1b6ec2;">Competitive Edge</h5>

            Our supreme objective is to ensure that our client’s facilities are kept in a neat and clean condition at all times. We employ a <strong><em>five pronged strategy</em></strong> that has seen                      Wazmoh Business Solution continue being the leader in the cleaning industry.
            <br />
            <br />

            This approach is our competitive edge strategy based on:
            <br />
            <br />
            <ol>
                <li>
                    <strong>Customized Services</strong>
                    <br />
                    <p>We give specific focus to each client’s unique and varied needs. We carefully consider ones needs and offer a conclusive personalized solution.</p>
                </li>
                <li>
                    <strong>Competitive & Flexible Pricing</strong>
                    <br />
                    We offer the best quality services tailored to the customer’s budgetary needs without compromising on the overall desired results.
                </li>
                <li>
                    <strong>Robust Customer Service</strong>
                    <br />
                    At Wazmoh Business Solution, we boast of a robust and un-paralleled customer service team.
                    <br />
                    <br />

                    We have perfected the skill of not only treating our clients as the “KINGS” they are but embracing them as family and business partners as well.
                    This approach has seen our surveys record customer satisfaction average rate of 95% at all times. We ensure continual consultations and proactive engagement with our customers for                          continuous improvement and quality enhancement even after the work is done.
                </li>
                <li>
                    <strong>Ardent Work Culture</strong>
                    <br />
                    We staff their facilities adequately to maintain an optimum condition of cleanliness. All our staff have been trained on global cleaning best practices and duly certified. Thus, they                              employ superior work ethics compared to our competitors. The training has seen them work not only hard but skillfully and intelligently. We all endeavor balancing customer needs and                               wants as constant priorities and therefore part of our core mandate. We rotate and adjust staff accordingly for achievement of their best performance and effectiveness in line with                                their strengths and talents.
                </li>

            </ol>
        </article>
        <br />


    </div>
</section>

