@{
	ViewData["Title"] = "Gallery";
}


<!-- Gallery section-->
<section id="gallery" class="bg-light section">
    <div class="section-title" style="text-align: center; text-transform:capitalize; font-size:1.5rem;font-weight:bold; margin-bottom: 2rem !important;">
        Team At Work
    </div>

    <div class="container px-5">
        <article class=" text-muted mb-5 mb-lg-0 slide-right">
			<!-- Gallery -->
			<div class="gallery-container section-container">
				<div class="container">
					<div class="row">
						<div class="col">
							<!-- First row of images -->
							<div class="row">
								<div class=" col gallery-box wow fadeInDown">
									<div data-toggle="modal" data-target="#galleryModal">
										<img class="gallery-image" src="~/assets/img/gallery/goH6xllnVVPBFg0NqAXB7aVxt6L9JgRNx29_2VnjiqI=_plaintext_638141734978290083.jpg" alt="Image 1" data-target="#galleryCarousel" data-slide-to="0">
									</div>
								</div>
								<div class=" col gallery-box wow fadeInUp">
									<div data-toggle="modal" data-target="#galleryModal">
										<img class="gallery-image m-2" src="~/assets/img/gallery/IMG-20230312-WA0001.jpg" alt="Image 2" data-target="#galleryCarousel" data-slide-to="3">
									</div>
								</div>
								<div class=" col gallery-box wow fadeInDown">
									<div data-toggle="modal" data-target="#galleryModal">
										<img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0002.jpg" alt="Image 3" data-target="#galleryCarousel" data-slide-to="4">
									</div>
								</div>
							</div>
							<!-- Second row of images -->
							<div class="row">
								<div class="col gallery-box wow fadeInUp">
									<div data-toggle="modal" data-target="#galleryModal">
										<img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0003.jpg" alt="Image 4" data-target="#galleryCarousel" data-slide-to="5">
									</div>
								</div>
								<div class="col gallery-box wow fadeInDown">
									<div data-toggle="modal" data-target="#galleryModal">
										<img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0004.jpg" alt="Image 5" data-target="#galleryCarousel" data-slide-to="6">
									</div>
								</div>
								<div class="col gallery-box wow fadeInUp">
									<div data-toggle="modal" data-target="#galleryModal">
										<img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0005.jpg" alt="Image 6" data-target="#galleryCarousel" data-slide-to="7">
									</div>
								</div>
							</div>
							<!-- Third row of images -->
							<div class="row">
								<div class="col gallery-box wow fadeInUp">
									<div data-toggle="modal" data-target="#galleryModal">
										<img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0006.jpg" alt="Image 7" data-target="#galleryCarousel" data-slide-to="8">
									</div>
								</div>
								<div class="col gallery-box wow fadeInDown">
									<div data-toggle="modal" data-target="#galleryModal">
										<img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0007.jpg" alt="Image 8" data-target="#galleryCarousel" data-slide-to="9">
									</div>
								</div>
								<div class="col gallery-box wow fadeInUp">
									<div data-toggle="modal" data-target="#galleryModal">
										<img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0008.jpg" alt="Image 9" data-target="#galleryCarousel" data-slide-to="10">
									</div>
								</div>
							</div>
							<!-- Fourth row of images -->
							<div class="row">
								<div class="col gallery-box wow fadeInUp">
									<div data-toggle="modal" data-target="#galleryModal">
										<img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0009.jpg" alt="Image 10" data-target="#galleryCarousel" data-slide-to="11">
									</div>
								</div>
								<div class="col gallery-box wow fadeInDown">
									<div data-toggle="modal" data-target="#galleryModal">
										<img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0010.jpg" alt="Image 11" data-target="#galleryCarousel" data-slide-to="12">
									</div>
								</div>
								<div class="col gallery-box wow fadeInUp">
									<div data-toggle="modal" data-target="#galleryModal">
										<img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0011.jpg" alt="Image 12" data-target="#galleryCarousel" data-slide-to="13">
									</div>
								</div>
							</div>
							<!-- Fourth row of images -->
							<div class="row">
								<div class="col gallery-box wow fadeInUp">
									<div data-toggle="modal" data-target="#galleryModal">
										<img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0012.jpg" alt="Image 13" data-target="#galleryCarousel" data-slide-to="14">
									</div>
								</div>
								<div class="col gallery-box wow fadeInDown">
									<div data-toggle="modal" data-target="#galleryModal">
										<img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0013.jpg" alt="Image 14" data-target="#galleryCarousel" data-slide-to="15">
									</div>
								</div>
								<div class="col gallery-box wow fadeInUp">
									<div data-toggle="modal" data-target="#galleryModal">
										<img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0014.jpg" alt="Image 15" data-target="#galleryCarousel" data-slide-to="16">
									</div>
								</div>
							</div>
							<!-- Fifth row of images -->
							<div class="row">
								<div class="col gallery-box wow fadeInUp">
									<div data-toggle="modal" data-target="#galleryModal">
										<img class="gallery-image" src="~/assets/img/gallery/N_SqCdgX_Z6-y-JUA1uZE2EONAQNiktnKQDEVQ9JqkM=_plaintext_638141734978451301.jpg" alt="Image 16" data-target="#galleryCarousel" data-slide-to="17">
									</div>
								</div>
								<div class="col gallery-box wow fadeInDown">
									<div data-toggle="modal" data-target="#galleryModal">
										<img class="gallery-image" src="~/assets/img/gallery/OsdAKx7Mb4jWwuD1LAC24msXPrtapM2ruLmycmjc4pA=_plaintext_638141734978541295.jpg" alt="Image 17" data-target="#galleryCarousel" data-slide-to="18">
									</div>
								</div>
								<div class="col gallery-box wow fadeInUp">
									<div data-toggle="modal" data-target="#galleryModal">
										<img class="gallery-image" src="~/assets/img/gallery/PheDM8e0D97Qdz7VTQl45O8FuDiIqUhrAg6yPOV6yg0=_plaintext_638141734978918013.jpg" alt="Image 18" data-target="#galleryCarousel" data-slide-to="19">
									</div>
								</div>
							</div>
							<!-- Sixth row of images -->
							<div class="row">
								<div class="col gallery-box wow fadeInUp">
									<div data-toggle="modal" data-target="#galleryModal">
										<img class="gallery-image" src="~/assets/img/gallery/TRzgfXDpX4BExlF3ooEMqzw3EgfNE5_sh2N7g8CItOw=_plaintext_638141734979300188.jpg" alt="Image 19" data-target="#galleryCarousel" data-slide-to="20">
									</div>
								</div>
								<div class="col gallery-box wow fadeInDown">
									<div data-toggle="modal" data-target="#galleryModal">
										<img class="gallery-image" src="~/assets/img/gallery/XdzEYFdDBTKmCXdE8NQfmSGb_1EP-7WrxJKUeRtDVfM=_plaintext_638141734978621338.jpg" alt="Image 20" data-target="#galleryCarousel" data-slide-to="21">
									</div>
								</div>
								<div class="col gallery-box wow fadeInUp">
									<div data-toggle="modal" data-target="#galleryModal">
										<img class="gallery-image" src="~/assets/img/gallery/XPeQDqeekj2MOewGnarsgkVsKozc4rW3FED36gv517M=_plaintext_638141734978355453.jpg" alt="Image 21" data-target="#galleryCarousel" data-slide-to="22">
									</div>
								</div>
							</div>
							<!-- Seventh row of images -->
							<div class="row">
								<div class="col gallery-box wow fadeInUp">
									<div data-toggle="modal" data-target="#galleryModal">
										<img class="gallery-image" src="~/assets/img/gallery/Y5nkuXqAsa53vy6J2DIuFxDARHZgoGxKahdbvfLNbWo=_plaintext_638141734977887632.jpg" alt="Image 22" data-target="#galleryCarousel" data-slide-to="23">
									</div>
								</div>
								<div class="col gallery-box wow fadeInDown">
									<div data-toggle="modal" data-target="#galleryModal">
										<img class="gallery-image" src="~/assets/img/gallery/Z1W10tw405kfc3xBHFElbJ5IBN0Sy9yGAdgulzo3jYg=_plaintext_638141734979208399.jpg" alt="Image 23" data-target="#galleryCarousel" data-slide-to="0">
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Lightbox (made with Bootstrap modal and carousel) -->
			<!-- Modal -->
			<div class="modal fade" id="galleryModal" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">

							<!-- Carousel -->
							<div id="galleryCarousel" class="carousel slide">
								<ol class="carousel-indicators">
									<li data-target="#galleryCarousel" data-slide-to="0" class="active"></li>
									<li data-target="#galleryCarousel" data-slide-to="1"></li>
									<li data-target="#galleryCarousel" data-slide-to="2"></li>
									<li data-target="#galleryCarousel" data-slide-to="3"></li>
									<li data-target="#galleryCarousel" data-slide-to="4"></li>
									<li data-target="#galleryCarousel" data-slide-to="5"></li>
								</ol>
								<div class="carousel-inner">
									<div class="carousel-item active">
										<img src="~/assets/img/gallery/goH6xllnVVPBFg0NqAXB7aVxt6L9JgRNx29_2VnjiqI=_plaintext_638141734978290083.jpg" class="d-block w-100" alt="Image 1">
									</div>
									<div class="carousel-item">
										<img src="~/assets/img/gallery/IMG-20230312-WA0001.jpg" class="d-block w-100" alt="Image 2">
									</div>
									<div class="carousel-item">
										<img src="~/assets/img/gallery/IMG-20230312-WA0002.jpg" class="d-block w-100" alt="Image 3">
									</div>
									<div class="carousel-item">
										<img src="~/assets/img/gallery/IMG-20230312-WA0003.jpg" class="d-block w-100" alt="Image 4">
									</div>
									<div class="carousel-item">
										<img src="~/assets/img/gallery/IMG-20230312-WA0004.jpg" class="d-block w-100" alt="Image 5">
									</div>
									<div class="carousel-item">
										<img src="~/assets/img/gallery/IMG-20230312-WA0005.jpg" class="d-block w-100" alt="Image 6">
									</div>
								</div>
								<a class="carousel-control-prev" href="#galleryCarousel" role="button" data-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="carousel-control-next" href="#galleryCarousel" role="button" data-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
        </article>
        <br />


    </div>
</section>

