@{
    ViewData["Title"] = "Home";
}

<!-- Landing -->
<section class="cta animated-section active slide-in-left ">
    <div class="cta-content ">
        <h2 class="text-white display-1 lh-1 mb-3">Wazmoh Business Solutions</h2>
        <h6 class=" display-6 " style="color:#B70000;"><em>Making a clean difference!</em></h6>
        <br />
        <a class="btn btn-outline-light py-3 px-4 rounded-pill" href="#company">Learn More</a>
    </div>
</section>

<!-- About us section-->
<section id="company" class="bg-light section animated-section page-section">
    <div class="section-title fade-in-right" style="text-align: center; text-transform:capitalize; font-size:1.5rem;font-weight:bold; margin-bottom: 2rem !important;">
        About Us
    </div>

    <div class="container px-5">
        <article class=" text-muted mb-5 mb-lg-0 animated-section zoom-in">
            <h5 style="color:#1b6ec2;">Wazmoh Business Solution</h5>
            Wazmoh Business Solution was formed with passion and desire to rid institutions, households and corporations’ facilities of pests which are prevalence in our tropical weather. A seed was                   planted and has grown to become an enterprise whose mission entailed offering one stop shop for fumigation and pest control.
            <br />
            <br />

            Our purpose is not limited to pest control though. We are also involved in general cleaning services as well as landscaping and gardening. We have specialized and highly trained staff members              who ensure to that whatever task you have for us is done to exceed your expectations and deliver quality desirable results.
            <br />
            <br />

            Based on our experience in cleaning industry, we have a competitive edge in the following areas:
            <br />
            <br />
            <ul>
                <li> Our professional cleaning systems are designed to cater for our client’s customized needs in order to achieve their requirement in line with their budget.</li>
                <li>Our experienced technical staff and trained workers aspire to deliver high quality cleaning services.</li>
                <li>Our modern equipment together with the right choice and quality of chemical used in executing our tasks enables us to ensure a better finishing.</li>
            </ul>

        </article>
        <br />

        <article class=" text-muted mb-5 mb-lg-0 animated-section slide-in-right">
            <h5 style="color:#1b6ec2;">Our Vision</h5>
            To meet the growing demand of maintenance & cleaning Industry With the latest art of technology in order to satisfy Customers’ requirements

        </article>
        <br />

        <article class=" text-muted mb-5 mb-lg-0 animated-section slide-in-left">
            <h5 style="color:#1b6ec2;">Our Mission</h5>
            To ensure that our customer gets the best service available in the maintenance & Cleaning Industry in order to provide customer satisfaction.

        </article>
        <br />

        <article class="text-muted mb-5 mb-lg-0 animated-section zoom-in">
            <h5 style="color:#1b6ec2;">Modus Operandi</h5>

            Our ability to provide consistent high quality services at competitive cost is made possible by our
            deviation from traditional form of cleaning management where job supervision is overseen by various levels of management. We have pioneered a program whereby our staff monitors your premise                together with you and guarantee that your customized cleaning schedule will be followed in an efficient, effective and professional manner. We feel that it not the quantity of supervisor that              matters but the quality of the supervisor that counts.
            <br />
            <br />

            The system employed to monitor our client’s properties and facilities and with our experience enables us to effectively handle the labor demands and the financial requirement of                            any account we contract. Our personnel management techniques are unique and centered on cost control and provide a quick response to client need as they change throughout the year.
            <br />
            <br />

            To achieve these levels of efficacy, we do follow the below laid down protocol:
            <br />
            <br />

            <ol style="list-style-type: upper-alpha;">
                <li>
                    <strong>INCEPTION</strong>
                    <ul>
                        <li>Client brief</li>
                        <li>Engagement</li>
                        <li>Site survey</li>
                        <li>Workplace audit</li>
                        <li>Project programming</li>
                    </ul>
                </li>
                <li>
                    <strong>INCEPTION</strong>
                    <ul>
                        <li>Location survey and planning</li>
                        <li>Work order generation</li>
                        <li>Cost estimates</li>
                    </ul>
                </li>
                <li>
                    <strong>CONTRACT ADMINISTARTION</strong>
                    <ul>
                        <li>Contract formalization</li>
                        <li>Site monitoring and quality control</li>
                        <li>Payment processing</li>
                        <li>Completion inspection</li>
                        <li>Onsite feedback</li>
                    </ul>
                </li>
                <li>
                    <strong>CLOSURE</strong>
                    <ul>
                        <li>Final contractor payment</li>
                        <li>Project evaluation</li>
                        <li>Client feedback</li>
                    </ul>
                </li>
            </ol>
        </article>
        <br />

        <article class="text-muted mb-5 mb-lg-0 animated-section fade-in">
            <h5 style="color:#1b6ec2;">Competitive Edge</h5>

            Our supreme objective is to ensure that our client’s facilities are kept in a neat and clean condition at all times. We employ a <strong><em>five pronged strategy</em></strong> that has seen                      Wazmoh Business Solution continue being the leader in the cleaning industry.
            <br />
            <br />

            This approach is our competitive edge strategy based on:
            <br />
            <br />
            <ol>
                <li>
                    <strong>Customized Services</strong>
                    <br />
                    <p>We give specific focus to each client’s unique and varied needs. We carefully consider ones needs and offer a conclusive personalized solution.</p>
                </li>
                <li>
                    <strong>Competitive & Flexible Pricing</strong>
                    <br />
                    We offer the best quality services tailored to the customer’s budgetary needs without compromising on the overall desired results.
                </li>
                <li>
                    <strong>Robust Customer Service</strong>
                    <br />
                    At Wazmoh Business Solution, we boast of a robust and un-paralleled customer service team.
                    <br />
                    <br />

                    We have perfected the skill of not only treating our clients as the “KINGS” they are but embracing them as family and business partners as well.
                    This approach has seen our surveys record customer satisfaction average rate of 95% at all times. We ensure continual consultations and proactive engagement with our customers for                          continuous improvement and quality enhancement even after the work is done.
                </li>
                <li>
                    <strong>Ardent Work Culture</strong>
                    <br />
                    We staff their facilities adequately to maintain an optimum condition of cleanliness. All our staff have been trained on global cleaning best practices and duly certified. Thus, they                              employ superior work ethics compared to our competitors. The training has seen them work not only hard but skillfully and intelligently. We all endeavor balancing customer needs and                               wants as constant priorities and therefore part of our core mandate. We rotate and adjust staff accordingly for achievement of their best performance and effectiveness in line with                                their strengths and talents.
                </li>

            </ol>
        </article>
        <br />


    </div>
</section>

<!-- Services section-->
<section id="services" class=" bg-light section animated-section">
    <div class="section-title fade-in-right" style="text-align: center; text-transform:capitalize; font-size:1.5rem;font-weight:bold;margin-bottom: 2rem !important;">
        Our Services
    </div>
    <div class="container px-5">
        <article id="services" class=" text-muted mb-5 mb-lg-0 animated-section fade-in-top">
            <h5 style="color:#1b6ec2;">Services</h5>
            <br />

            <ol>
                <li>
                    <b>Build Care Services: Factory, Complex, Office & Building Contract Cleaning</b>
                    <br />
                    <br />
                    <p>
                        We provide a wide variety of office, domestic and commercial cleaning and housekeeping services. This includes: Detail cleaning, Room cleaning, High pressure water cleaning, Carpet                         Cleaning & shampooing.
                    </p>
                    <ul>
                        <li>
                            <b>Post construction cleaning services - </b>Initial cleaning services cater for newly constructed building prior to hand over of vacant possession.
                        </li>
                        <li>
                            <b>Floor care services –</b>A treatment and cleaning system cater for the maintenance of all types of granite, marble, natural stone, ceramic, wooden, synthetic and fabricated                                 floor finishes.
                        </li>
                        <li>
                            <b>External high level cleaning services –</b>Intensive cleaning services cater for curtain glass wall and concrete, tiled and aluminum wall cladding.
                        </li>
                        <li>
                            <b>Office Care Services -</b>General cleaning and tea lady services cater for corporate office. Telephone sanitation services cater for cleaning and sanitation of telephones in                                office.
                        </li>
                        <li>
                            <b>Trans care services (Terminal cleaning services) –</b>A cleaning system cater for day to day cleaning of high – traffic environment i.e. airport, Railway Station and bus                                    terminal and cabin cleaning.
                        </li>
                        <li><b>Homecare services(spring cleaning services) -</b>Intensive cleaning services cater for residential house and apartment.</li>
                        <li><b>Housekeeping services</b>General in – house cleaning services cater for luxurious apartment, hotel and Hostel</li>
                        <li><b>Carpet care (Steam extraction service) –</b>An intensive cleaning system cater for natural wool and synthetic fiber carpet and fiber upholstered sofa.</li>
                        <li><b>Vehicle Cleaning Services –</b>We offer quality corporate vehicle cleaning services to organizations.</li>
                    </ul>
                </li>
                <li>
                    <b>Garbage Collection & Waste Disposal</b>
                    <br />
                    <br />
                    <p>
                        We also provide the service of wastage disposal on daily basis from your premises to the wastage yard. (Waste disposal bin will also be provided if required.
                    </p>
                </li>
                <li>
                    <b>Sewerage</b>
                    <br />
                    <br />
                    <p>
                        We also provide sewerage services both on monthly basis an on call basis. We offer your good self a complete package that is required by the industry by providing cleaning services,                        wastage disposal and also sewerage services. By doing so it will help clients not to search for or employ three varied contractor. We believe that we will be able to serve you      better in this way.
                    </p>
                </li>
                <li><b>Manpower Supply</b></li>
                <li>
                    <b>Landscaping & Gardening</b>
                    <br />
                    <br />
                    <p>
                        We supply and provide a wide range of comprehensive landscaping services at Wazmoh Business Solution. We design and create manicured lawns, serene gardens as well as undertake                              general maintenance on your grounds.

                        From simple raking of lawn to a full maintenance program, we can customize our landscaping services to meet your particular needs.

                        Our services include:
                        <ul>
                            <li>General maintenance of the grounds</li>
                            <li>Tree care and removal</li>
                            <li>Pruning</li>
                            <li>Weeding flower beds</li>
                            <li>Trimming hedges</li>
                        </ul>
                    </p>
                </li>
                <li>
                    <b>Cleaning Consultation On Cleaning Management</b>
                </li>
                <li>
                    <b>Pest Control</b>
                    <br />
                    <br />
                    <p>
                        Our pest control services are designed to get rid of home or office pests. We offer a variety of services including monthly or quarterly pest control services. This are mostly done                         on contract basis.

                        Our flexibility and ability to match the customers’ needs also allows us to carry out tasks as per the customers’ desire including one offs and also repeat processes as the customer                         may so wish.
                    </p>
                </li>
                <li>
                    <b>Industrial Pest Control</b> and fumigation is also another area of specialty.
                    <br />
                    <br />
                    <p>
                        Industrial setups always pose different challenges when it comes to pest control. It therefore also requires a different approach in handling such tasks. We have developed clear                            operations guideline and have the capacity to handle such assignments as getting rid of bedbugs in buses, office furniture, rats, cockroaches, bats and others.

                        At Wazmoh Business Solution, we understand that to achieve the desired results which are complete and conclusive termination of pests; we may have to do repeat assignments and we                           impartially assess the results of our works and continually ensuring that the work is done until complete riddance of pests is achieved. We also encourage customer feedback so as to                        improve on our standards.
                    </p>
                </li>

            </ol>

            Our general maintenance staffs are expertly trained to ensure that your premise will be kept neat and clean at all times.
            We also provide a comprehensive range of cleaning products such as Air fresheners, Tissue and soap dispensers, Hand drying systems, Seat cleaners, Toilet brushes, other cleaning products and  equipment supply etc.

        </article>
        <br />
        <br />
        <article id="tools" class=" text-muted mb-5 mb-lg-0 slide-in-bottom" style="scroll-margin-top: 80vh!important;">
            <h5 style="color:#1b6ec2;">Tools & Equipment </h5>
            <br />
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>Item</strong>
                    <span> <strong>Quantity</strong></span>
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Auto Scrubber
                    <span class="badge bg-secondary">8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Scrubber
                    <span class="badge bg-secondary">50</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Normal Buffer
                    <span class="badge bg-secondary">8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    High Speed Buffer
                    <span class="badge bg-secondary">8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Pressure Washier
                    <span class="badge bg-secondary">10</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Carpet Extractor
                    <span class="badge bg-secondary">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Dry Vacuum
                    <span class="badge bg-secondary">16</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Wet & Dry Vacuum
                    <span class="badge bg-secondary">10</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Blower
                    <span class="badge bg-secondary">7</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    High Dusting Vacuum
                    <span class="badge bg-secondary">15</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Industrial Sweeper
                    <span class="badge bg-secondary">4</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Mechanical Platform
                    <span class="badge bg-secondary">5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Mobile Ladder
                    <span class="badge bg-secondary">10</span>
                </li>
            </ul>

        </article>

    </div>
</section>

<!-- Gallery section-->
<section id="gallery" class="bg-light section animated-section ">
    <div class="section-title fade-in-right" style="text-align: center; text-transform:capitalize; font-size:1.5rem;font-weight:bold; margin-bottom: 2rem !important;">
        Team At Work
    </div>

    <div class="container px-5">
        <article class=" text-muted mb-5 mb-lg-0 slide-right">
            <!-- Gallery -->
            <div class="gallery-container section-container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <!-- First row of images -->
                            <div class="row">
                                <div class=" col gallery-box wow fade-in-left">
                                    <div data-toggle="modal" data-target="#galleryModal">
                                        <img class="gallery-image" src="~/assets/img/gallery/goH6xllnVVPBFg0NqAXB7aVxt6L9JgRNx29_2VnjiqI=_plaintext_638141734978290083.jpg" alt="Image 1" data-target="#galleryCarousel" data-slide-to="0">
                                    </div>
                                </div>
                                <div class=" col gallery-box wow fade-in-top">
                                    <div data-toggle="modal" data-target="#galleryModal">
                                        <img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0001.jpg" alt="Image 2" data-target="#galleryCarousel" data-slide-to="3">
                                    </div>
                                </div>
                                <div class=" col gallery-box wow zoomInPerspective">
                                    <div data-toggle="modal" data-target="#galleryModal">
                                        <img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0002.jpg" alt="Image 3" data-target="#galleryCarousel" data-slide-to="4">
                                    </div>
                                </div>
                            </div>
                            <!-- Second row of images -->
                            <div class="row">
                                <div class="col gallery-box wow slide-in-top">
                                    <div data-toggle="modal" data-target="#galleryModal">
                                        <img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0003.jpg" alt="Image 4" data-target="#galleryCarousel" data-slide-to="5">
                                    </div>
                                </div>
                                <div class="col gallery-box wow zoomInRotate">
                                    <div data-toggle="modal" data-target="#galleryModal">
                                        <img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0004.jpg" alt="Image 5" data-target="#galleryCarousel" data-slide-to="6">
                                    </div>
                                </div>
                                <div class="col gallery-box wow slide-in-bottom">
                                    <div data-toggle="modal" data-target="#galleryModal">
                                        <img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0005.jpg" alt="Image 6" data-target="#galleryCarousel" data-slide-to="7">
                                    </div>
                                </div>
                            </div>
                            <!-- Third row of images -->
                            <div class="row">
                                <div class="col gallery-box wow fadeInUp">
                                    <div data-toggle="modal" data-target="#galleryModal">
                                        <img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0006.jpg" alt="Image 7" data-target="#galleryCarousel" data-slide-to="8">
                                    </div>
                                </div>
                                <div class="col gallery-box wow fadeInDown">
                                    <div data-toggle="modal" data-target="#galleryModal">
                                        <img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0007.jpg" alt="Image 8" data-target="#galleryCarousel" data-slide-to="9">
                                    </div>
                                </div>
                                <div class="col gallery-box wow fadeInUp">
                                    <div data-toggle="modal" data-target="#galleryModal">
                                        <img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0008.jpg" alt="Image 9" data-target="#galleryCarousel" data-slide-to="10">
                                    </div>
                                </div>
                            </div>
                            <!-- Fourth row of images -->
                            <div class="row">
                                <div class="col gallery-box wow fadeInUp">
                                    <div data-toggle="modal" data-target="#galleryModal">
                                        <img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0009.jpg" alt="Image 10" data-target="#galleryCarousel" data-slide-to="11">
                                    </div>
                                </div>
                                <div class="col gallery-box wow fadeInDown">
                                    <div data-toggle="modal" data-target="#galleryModal">
                                        <img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0010.jpg" alt="Image 11" data-target="#galleryCarousel" data-slide-to="12">
                                    </div>
                                </div>
                                <div class="col gallery-box wow fadeInUp">
                                    <div data-toggle="modal" data-target="#galleryModal">
                                        <img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0011.jpg" alt="Image 12" data-target="#galleryCarousel" data-slide-to="13">
                                    </div>
                                </div>
                            </div>
                            <!-- Fourth row of images -->
                            <div class="row">
                                <div class="col gallery-box wow fadeInUp">
                                    <div data-toggle="modal" data-target="#galleryModal">
                                        <img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0012.jpg" alt="Image 13" data-target="#galleryCarousel" data-slide-to="14">
                                    </div>
                                </div>
                                <div class="col gallery-box wow fadeInDown">
                                    <div data-toggle="modal" data-target="#galleryModal">
                                        <img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0013.jpg" alt="Image 14" data-target="#galleryCarousel" data-slide-to="15">
                                    </div>
                                </div>
                                <div class="col gallery-box wow fadeInUp">
                                    <div data-toggle="modal" data-target="#galleryModal">
                                        <img class="gallery-image" src="~/assets/img/gallery/IMG-20230312-WA0014.jpg" alt="Image 15" data-target="#galleryCarousel" data-slide-to="16">
                                    </div>
                                </div>
                            </div>
                            <!-- Fifth row of images -->
                            <div class="row">
                                <div class="col gallery-box wow fadeInUp">
                                    <div data-toggle="modal" data-target="#galleryModal">
                                        <img class="gallery-image" src="~/assets/img/gallery/N_SqCdgX_Z6-y-JUA1uZE2EONAQNiktnKQDEVQ9JqkM=_plaintext_638141734978451301.jpg" alt="Image 16" data-target="#galleryCarousel" data-slide-to="17">
                                    </div>
                                </div>
                                <div class="col gallery-box wow fadeInDown">
                                    <div data-toggle="modal" data-target="#galleryModal">
                                        <img class="gallery-image" src="~/assets/img/gallery/OsdAKx7Mb4jWwuD1LAC24msXPrtapM2ruLmycmjc4pA=_plaintext_638141734978541295.jpg" alt="Image 17" data-target="#galleryCarousel" data-slide-to="18">
                                    </div>
                                </div>
                                <div class="col gallery-box wow fadeInUp">
                                    <div data-toggle="modal" data-target="#galleryModal">
                                        <img class="gallery-image" src="~/assets/img/gallery/PheDM8e0D97Qdz7VTQl45O8FuDiIqUhrAg6yPOV6yg0=_plaintext_638141734978918013.jpg" alt="Image 18" data-target="#galleryCarousel" data-slide-to="19">
                                    </div>
                                </div>
                            </div>
                            <!-- Sixth row of images -->
                            <div class="row">
                                <div class="col gallery-box wow fadeInUp">
                                    <div data-toggle="modal" data-target="#galleryModal">
                                        <img class="gallery-image" src="~/assets/img/gallery/TRzgfXDpX4BExlF3ooEMqzw3EgfNE5_sh2N7g8CItOw=_plaintext_638141734979300188.jpg" alt="Image 19" data-target="#galleryCarousel" data-slide-to="20">
                                    </div>
                                </div>
                                <div class="col gallery-box wow fadeInDown">
                                    <div data-toggle="modal" data-target="#galleryModal">
                                        <img class="gallery-image" src="~/assets/img/gallery/XdzEYFdDBTKmCXdE8NQfmSGb_1EP-7WrxJKUeRtDVfM=_plaintext_638141734978621338.jpg" alt="Image 20" data-target="#galleryCarousel" data-slide-to="21">
                                    </div>
                                </div>
                                <div class="col gallery-box wow fadeInUp">
                                    <div data-toggle="modal" data-target="#galleryModal">
                                        <img class="gallery-image" src="~/assets/img/gallery/XPeQDqeekj2MOewGnarsgkVsKozc4rW3FED36gv517M=_plaintext_638141734978355453.jpg" alt="Image 21" data-target="#galleryCarousel" data-slide-to="22">
                                    </div>
                                </div>
                            </div>
                            <!-- Seventh row of images -->
                            <div class="row">
                                <div class="col gallery-box wow fadeInUp">
                                    <div data-toggle="modal" data-target="#galleryModal">
                                        <img class="gallery-image" src="~/assets/img/gallery/Y5nkuXqAsa53vy6J2DIuFxDARHZgoGxKahdbvfLNbWo=_plaintext_638141734977887632.jpg" alt="Image 22" data-target="#galleryCarousel" data-slide-to="23">
                                    </div>
                                </div>
                                <div class="col gallery-box wow fadeInDown">
                                    <div data-toggle="modal" data-target="#galleryModal">
                                        <img class="gallery-image" src="~/assets/img/gallery/Z1W10tw405kfc3xBHFElbJ5IBN0Sy9yGAdgulzo3jYg=_plaintext_638141734979208399.jpg" alt="Image 23" data-target="#galleryCarousel" data-slide-to="0">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Lightbox (made with Bootstrap modal and carousel) -->
            <!-- Modal -->
            <div class="modal fade" id="galleryModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <!-- Carousel -->
                            <div id="galleryCarousel" class="carousel slide">
                                <ol class="carousel-indicators">
                                    <li data-target="#galleryCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#galleryCarousel" data-slide-to="1"></li>
                                    <li data-target="#galleryCarousel" data-slide-to="2"></li>
                                    <li data-target="#galleryCarousel" data-slide-to="3"></li>
                                    <li data-target="#galleryCarousel" data-slide-to="4"></li>
                                    <li data-target="#galleryCarousel" data-slide-to="5"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="~/assets/img/gallery/goH6xllnVVPBFg0NqAXB7aVxt6L9JgRNx29_2VnjiqI=_plaintext_638141734978290083.jpg" class="d-block w-100" alt="Image 1">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="~/assets/img/gallery/IMG-20230312-WA0001.jpg" class="d-block w-100" alt="Image 2">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="~/assets/img/gallery/IMG-20230312-WA0002.jpg" class="d-block w-100" alt="Image 3">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="~/assets/img/gallery/IMG-20230312-WA0003.jpg" class="d-block w-100" alt="Image 4">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="~/assets/img/gallery/IMG-20230312-WA0004.jpg" class="d-block w-100" alt="Image 5">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="~/assets/img/gallery/IMG-20230312-WA0005.jpg" class="d-block w-100" alt="Image 6">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#galleryCarousel" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#galleryCarousel" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <br />


    </div>
</section>

<!-- Blog section-->
<section id="blog" class="bg-light section animated-section  fade-in-bottom">
    <div class="section-title fade-in-right" style="text-align: center; text-transform:capitalize; font-size:1.5rem;font-weight:bold;margin-bottom: 2rem !important;">
        More About Us
    </div>
    <div class="container px-5">
        <article class="text-muted mb-5 mb-lg-0">
            <h5 style="color:#1b6ec2;">Research & Training </h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Training Part 1</th>
                        <th>Training Part 2</th>
                        <th>Training Part 3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Contract Cleaning Specification</td>
                        <td>Supervision & Motivation</td>
                        <td>Operative Cleaning Manual</td>
                    </tr>
                    <tr>
                        <td>Chemical & Disinfectant</td>
                        <td>Staff Handling</td>
                        <td>Safety Measures</td>
                    </tr>
                    <tr>
                        <td>Machinery & Equipment</td>
                        <td>Scheduling Of Work</td>
                        <td>Chemicals, Machinery & Equipment</td>
                    </tr>
                    <tr>
                        <td>Procedures For Hospital Cleaning</td>
                        <td>Quality Control</td>
                        <td>Hard Floor Maintenance</td>
                    </tr>
                    <tr>
                        <td>Procedures For Office & High Rise Building Cleaning</td>
                        <td></td>
                        <td>Carpet Maintenance</td>
                    </tr>
                    <tr>
                        <td>Procedures For Factory Cleaning</td>
                        <td></td>
                        <td>Toilet & Sanitary Appliances</td>
                    </tr>
                    <tr>
                        <td>Health & Safety</td>
                        <td></td>
                        <td>Furniture & Fitting</td>
                    </tr>
                    <tr>
                        <td>Floor Care Maintenance</td>
                        <td></td>
                        <td>General Cleaning</td>
                    </tr>
                    <tr>
                        <td>Cross Infection Control</td>
                        <td></td>
                        <td>Glass Window</td>
                    </tr>
                    <tr>
                        <td>Bacteria & Structure</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

        </article>
        <br />
        <br />

        <article class="text-muted mb-5 mb-lg-0">
            <h5 style="color:#1b6ec2;">Quality Control </h5>

            At Wazmoh Business Solution, we realize that our work is a direct reflection on your image. The management of your company had worked very hard and spent a big amount of money to create the <strong>“look and feel”</strong> of your company environment.
            <br />

            We know that your company’s trust on your cleaning company to enhance and preserve its appearance and ambience. We also know our feature success depends on your consistent satisfaction. Our objective is to accommodate your cleaning needs. Our cleaning expertise and labor management techniques can provide verity of option for your customized cleaning schedule .
            <br />

            We have established a reputation in the cleaning industry for quality and dependability for your entire cleaning requirement. Based on our experience in the cleaning industry we know that quality control is the key element to customer satisfaction. Since there is a drastic realization among organizations and companies towards environment, we at Wazmoh Business Solution have long recognized the importance of the quality of the service that we provided must be in line with the requirement of <strong>ISO14000</strong> standards.
        </article>
        <br />
        <br />

        <article class="text-muted mb-5 mb-lg-0">
            <h5 style="color:#1b6ec2;">Quality Policy </h5>
            <ul>
                <li>Wazmoh Business Solution is committed to provision of quality cleaning services.</li>
                <li>
                    All the staff are responsible for compliance with the quality management system and for ensuring that all procedures and work instructions are properly executed and that standards are met.
                </li>
                <li>All affected staff shall be trained in those processes they are required to perform.</li>
            </ul>
            <br />

            <p>The adoption of the quality management system is essential to the continued growth and success of the business</p>

        </article>
    </div>
</section>
