@{
    ViewData["Title"] = "Home";
}


<section id="landing" class="cta">
    <div class="cta-content fade-out">
        <h2 class="text-white display-1 lh-1 mb-3">Wazmoh Business Solutions</h2>
        <h6 class=" display-6 " style="color:#B70000;"><em>Making a clean difference!</em></h6>
        <br />
        <a class="btn btn-sm btn-outline-light py-3 px-3 rounded-pill" asp-controller="Home" asp-action="Company">Learn More</a>
    </div>
</section>



