@{
    ViewData["Title"] = "Services";
}

<!-- Services section-->
<section id="services" class=" bg-light section">
    <div class="section-title " style="text-align: center; text-transform:capitalize; font-size:1.5rem;font-weight:bold;margin-bottom: 2rem !important;">
        Our Services
    </div>
    <div class="container px-5">
        <article class=" text-muted mb-5 mb-lg-0">
            <h5 style="color:#1b6ec2;">Services</h5>
            <br />

            <ol>
                <li>
                    <b>Build Care Services: Factory, Complex, Office & Building Contract Cleaning</b>
                    <br />
                    <br />
                    <p>
                        We provide a wide variety of office, domestic and commercial cleaning and housekeeping services. This includes: Detail cleaning, Room cleaning, High pressure water cleaning, Carpet                         Cleaning & shampooing.
                    </p>
                    <ul>
                        <li>
                            <b>Post construction cleaning services - </b>Initial cleaning services cater for newly constructed building prior to hand over of vacant possession.
                        </li>
                        <li>
                            <b>Floor care services –</b>A treatment and cleaning system cater for the maintenance of all types of granite, marble, natural stone, ceramic, wooden, synthetic and fabricated                                 floor finishes.
                        </li>
                        <li>
                            <b>External high level cleaning services –</b>Intensive cleaning services cater for curtain glass wall and concrete, tiled and aluminum wall cladding.
                        </li>
                        <li>
                            <b>Office Care Services -</b>General cleaning and tea lady services cater for corporate office. Telephone sanitation services cater for cleaning and sanitation of telephones in                                office.
                        </li>
                        <li>
                            <b>Trans care services (Terminal cleaning services) –</b>A cleaning system cater for day to day cleaning of high – traffic environment i.e. airport, Railway Station and bus                                    terminal and cabin cleaning.
                        </li>
                        <li><b>Homecare services(spring cleaning services) -</b>Intensive cleaning services cater for residential house and apartment.</li>
                        <li><b>Housekeeping services</b>General in – house cleaning services cater for luxurious apartment, hotel and Hostel</li>
                        <li><b>Carpet care (Steam extraction service) –</b>An intensive cleaning system cater for natural wool and synthetic fiber carpet and fiber upholstered sofa.</li>
                        <li><b>Vehicle Cleaning Services –</b>We offer quality corporate vehicle cleaning services to organizations.</li>
                    </ul>
                </li>
                <li>
                    <b>Garbage Collection & Waste Disposal</b>
                    <br />
                    <br />
                    <p>
                        We also provide the service of wastage disposal on daily basis from your premises to the wastage yard. (Waste disposal bin will also be provided if required.
                    </p>
                </li>
                <li>
                    <b>Sewerage</b>
                    <br />
                    <br />
                    <p>
                        We also provide sewerage services both on monthly basis an on call basis. We offer your good self a complete package that is required by the industry by providing cleaning services,                        wastage disposal and also sewerage services. By doing so it will help clients not to search for or employ three varied contractor. We believe that we will be able to serve you      better in this way.
                    </p>
                </li>
                <li><b>Manpower Supply</b></li>
                <li>
                    <b>Landscaping & Gardening</b>
                    <br />
                    <br />
                    <p>
                        We supply and provide a wide range of comprehensive landscaping services at Wazmoh Business Solution. We design and create manicured lawns, serene gardens as well as undertake                              general maintenance on your grounds.

                        From simple raking of lawn to a full maintenance program, we can customize our landscaping services to meet your particular needs.

                        Our services include:
                        <ul>
                            <li>General maintenance of the grounds</li>
                            <li>Tree care and removal</li>
                            <li>Pruning</li>
                            <li>Weeding flower beds</li>
                            <li>Trimming hedges</li>
                        </ul>
                    </p>
                </li>
                <li>
                    <b>Cleaning Consultation On Cleaning Management</b>
                </li>
                <li>
                    <b>Pest Control</b>
                    <br />
                    <br />
                    <p>
                        Our pest control services are designed to get rid of home or office pests. We offer a variety of services including monthly or quarterly pest control services. This are mostly done                         on contract basis.

                        Our flexibility and ability to match the customers’ needs also allows us to carry out tasks as per the customers’ desire including one offs and also repeat processes as the customer                         may so wish.
                    </p>
                </li>
                <li>
                    <b>Industrial Pest Control</b> and fumigation is also another area of specialty.
                    <br />
                    <br />
                    <p>
                        Industrial setups always pose different challenges when it comes to pest control. It therefore also requires a different approach in handling such tasks. We have developed clear                            operations guideline and have the capacity to handle such assignments as getting rid of bedbugs in buses, office furniture, rats, cockroaches, bats and others.

                        At Wazmoh Business Solution, we understand that to achieve the desired results which are complete and conclusive termination of pests; we may have to do repeat assignments and we                           impartially assess the results of our works and continually ensuring that the work is done until complete riddance of pests is achieved. We also encourage customer feedback so as to                        improve on our standards.
                    </p>
                </li>

            </ol>

            Our general maintenance staffs are expertly trained to ensure that your premise will be kept neat and clean at all times.
            We also provide a comprehensive range of cleaning products such as Air fresheners, Tissue and soap dispensers, Hand drying systems, Seat cleaners, Toilet brushes, other cleaning products and  equipment supply etc.

        </article>
        <br />
        <br />

        <article class="text-muted mb-5 mb-lg-0">
            <h5 style="color:#1b6ec2;">Tools & Equipment </h5>
            <br />
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>Item</strong>
                    <span> <strong>Quantity</strong></span>
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Auto Scrubber
                    <span class="badge bg-secondary">8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Scrubber
                    <span class="badge bg-secondary">50</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Normal Buffer
                    <span class="badge bg-secondary">8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    High Speed Buffer
                    <span class="badge bg-secondary">8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Pressure Washier
                    <span class="badge bg-secondary">10</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Carpet Extractor
                    <span class="badge bg-secondary">2</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Dry Vacuum
                    <span class="badge bg-secondary">16</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Wet & Dry Vacuum
                    <span class="badge bg-secondary">10</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Blower
                    <span class="badge bg-secondary">7</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    High Dusting Vacuum
                    <span class="badge bg-secondary">15</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Industrial Sweeper
                    <span class="badge bg-secondary">4</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Mechanical Platform
                    <span class="badge bg-secondary">5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Mobile Ladder
                    <span class="badge bg-secondary">10</span>
                </li>
            </ul>

        </article>

    </div>

    <div class="d-flex justify-content-center flex-wrap" style="flex-basis:25%;">
    </div>

</section>

